.products{
  margin: 50px auto;
}

.product-list{
   display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.product-list__item{
  width: 200px;
  height: 200px;
  background-color: chartreuse;
  list-style: none;
}