.product-list{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.product__new-product{
  margin: 20px auto 30px;
  display: block;
}